[submodule ".vim"]
	path = home/.vim
	url = https://github.com/carlhuda/janus.git
[submodule ".zprezto"]
	path = home/.zprezto
	url = https://github.com/jhanschoo/prezto.git
[submodule "home/.janus/vim-indent-guides"]
	path = home/.janus/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
