[user]
	name = Johannes Choo
	email = jhanschoo@gmail.com
[color]
  ui = auto
[core]
	editor = gvim
	excludesfile = ~/.gitignore
[merge]
  tool = gvimdiff
[push]
	default = simple
[alias]
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
